@import "tailwindcss";

@theme {
  --color-background: #f8fcfa;
  --color-background-darker: #e6f4ef;
  --color-primary: #46a080;
  --color-accent: #0C2E17;
  --color-test: #00EFFF;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}