# Node dependencies
node_modules/
client/node_modules/
server/node_modules/

# Logs
*.log

# Build output
dist/
client/dist/
server/dist/

# Environment variables
.env
client/.env
server/.env

# Optional OS / IDE files
.DS_Store
.vscode/
